.contractsPage {
  .pageContent {
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .agreementContainer {
      width: 100%;
      display: grid;
      gap: 10px;
      text-transform: capitalize;
      max-width: 500px;
      .contract {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        .contractName {
          font-weight: 500;
        }
        .showPdf {
          background: var(--fadeGray);
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 0.9rem;
          font-weight: 500;
          color: var(--subBrandColor);
          display: flex;
          align-items: center;
          gap: 5px;
          img {
            height: 25px;
            width: fit-content;
          }
        }
      }
    }
    .dontChange {
      opacity: 0.75;
      pointer-events: none;
    }
    .check {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .userActions {
      display: grid;
      gap: 10px;
    }
    .otpSection {
      display: grid;
      place-items: center;
      gap: 10px;
    }
    .buttons {
      display: grid;
      gap: 15px;
    }
    .rejectedMessage {
      color: var(--errorClr);
      font-weight: 500;
    }
    .verified {
      color: var(--mainBrandColor);
      font-weight: 500;
    }
  }
}
