.clientRecord {
  .actions {
    display: flex;
    gap: 10px;
  }
  .contractNamesContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    gap: 5px;
    .contractName {
      background: var(--fadeGray);
      text-transform: capitalize;
      // border: 1px solid var(--fadeGray);
      text-align: center;
      padding: 5px;
    }
  }
}
