.flash {
  position: fixed;
  top: -100%;
  left: 0;
  background-color: #fff;
  padding: 20px 20px;
  font-weight: 500;
  z-index: 4000000;
  width: 100%;
  color: #2196f3;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  animation: animateFlash 0.2s ease-in-out forwards;
  border: 2px solid var(--fadeGray);
  border-bottom: none;
  overflow-x: hidden;
  // position: relative;
  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background: #2196f3;
    bottom: 0;
    left: 0;
    animation: timeout 8s ease-in-out forwards;
  }
  .main {
    display: flex;
    align-items: center;
    img {
      height: 25px;
      width: fit-content;
      margin-right: 10px;
    }
  }
  .close {
    border: none;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    img {
      height: 16px;
      width: fit-content;
    }
  }
}

.flash.error {
  // border-color: #fc476e;
  color: #f74850;
  &::after {
    background: #f74850;
  }
}

.flash.warning {
  // border-color: #ffc048;
  color: #ffb703;
  &::after {
    background: #ffb703;
  }
}

@media (min-width: 800px) {
  .flash {
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    max-width: 800px;
  }
}

@keyframes animateFlash {
  to {
    top: 10%;
  }
}

@keyframes timeout {
  to {
    transform: translateX(-100%);
  }
}
