.employeeRecord {
  display: grid;
  //   width: 100vw;
  padding: 5px 20px;
  border-bottom: 2px solid rgba(218, 218, 218, 0.612);
  border-top: none;
  grid-template-columns: repeat(6, 1fr);
  .recordData {
    // outline: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    // height: fit-content;
    // width: fit-content;
    padding: 0 20px;
  }
  .actions {
    display: flex;
    gap: 10px;
  }
}
