.btn {
  background: var(--mainBrandColor);
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  &.isLoading {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .loader {
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    animation: spinLoader 0.5s linear infinite;
  }
  p {
    width: max-content;
  }
  img {
    width: 20px;
    height: fit-content;
  }
  &.outlined {
    color: var(--subBrandColor);
    background: transparent;
    border: 2px solid var(--subBrandColor);
    &:hover {
      background: var(--subBrandColor);
      color: #fff;
    }
  }
  &.danger {
    color: #e63946;
    background: transparent;
    border: 2px solid #e63946;
    &:hover {
      background: #e63946;
      color: #fff;
    }
  }
}

@keyframes spinLoader {
  to {
    transform: rotate(360deg);
  }
}
