.myAgreementsPage {
  h1,
  p {
    color: var(--textColor);
  }
  .pageContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    padding: 20px;
    .cardsContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      gap: 20px;
      .card {
        border-radius: 5px;
        padding: 10px;
        border: 1px solid var(--fadeGray);
        color: var(--subBrandColor);
      }
    }
    .head {
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (min-width: 500px) {
  .myAgreementsPage {
    .pageContent {
      .cardsContainer {
        justify-content: flex-start;
      }
      .head {
        padding: 0 50px;
        justify-content: space-between;
        flex-direction: row;
      }
    }
  }
}
