.allClients {
  padding: 10px;
  .cardsAndBtn {
    margin: 10px 0;
    button {
      margin: 0 auto;
    }
  }
  .cardsContainer {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
    .card {
      text-align: center;
      border-radius: 5px;
      padding: 10px;
      border: 1px solid var(--fadeGray);
      color: var(--subBrandColor);
    }
  }
  .vertical {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .list {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
    }
  }
  .verticalData {
    text-transform: capitalize;
  }
}

@media (min-width: 1000px) {
  .allClients {
    .cardsAndBtn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 25px;
      button {
        margin: 0;
      }
    }
  }
}
