.signinPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  padding: 25px;
  .inputsContainer {
    border-radius: 5px;
    background: #f5f7fa;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 450px;
  }
}
