.checkbox {
  display: flex;
  width: fit-content;
  padding: 7px 10px;
  gap: 10px;
  align-items: center;
  border: 2px solid var(--fadeGray);
  cursor: pointer;
  position: relative;
  &.active {
    border-color: var(--mainBrandColor);
  }
  input[type="checkbox"] {
    display: none;
  }
  label {
    cursor: pointer;
    text-transform: capitalize;
  }
  .overlay {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.check {
  width: 12px;
  height: 12px;
  border: 2px solid var(--fadeGray);
  &.active {
    background: var(--mainBrandColor);
  }
}
