.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 20px;
}

@media (min-width: 500px) {
  .cardsContainer {
    justify-content: flex-start;
  }
}
