.myAgreementsPage {
  h1,
  p {
    color: var(--textColor);
  }
  .head {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btnContainer {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: fit-content;
    }
  }
  .pageContent {
    display: flex;
    flex-direction: column;
    // gap: 25px;
    text-align: center;
    padding: 10px;
    .cardsContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      gap: 20px;
      .card {
        border-radius: 5px;
        padding: 10px;
        border: 1px solid var(--fadeGray);
        color: var(--subBrandColor);
      }
    }
  }
}

@media (min-width: 500px) {
  .myAgreementsPage {
    .head {
      flex-direction: row;
    }
    .pageContent {
      .cardsContainer {
        justify-content: flex-start;
      }
    }
  }
}

@media (min-width: 1000px) {
  .myAgreementsPage {
    .head {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 25px;
      button {
        margin: 0;
      }
    }
  }
}
