.signinPage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  height: calc(100vh - var(--headerHeight));
  .signinSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    margin-top: 100px;
    h1 {
      font-size: 2rem;
    }
    .headings {
      width: 100%;
      max-width: 450px;
    }
    .inputsContainer {
      width: 100%;
      max-width: 450px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .logo {
      width: 200px;
      height: fit-content;
    }
    .otpContainer {
      display: flex;
      gap: 5px;
    }
    .action {
      text-transform: capitalize;
      width: fit-content;
      color: var(--subBrandColor);
      cursor: pointer;
      &:hover {
        color: var(--mainBrandColor);
      }
    }
  }
}
@media (min-width: 800px) {
  .signinPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - var(--headerHeight));
    align-items: center;
    padding: 0;
    .signinSection {
      margin-top: 0;
      gap: 30px;
    }
  }
}
