.long-text-input {
  display: grid;
  gap: 5px;
  width: 100%;
  text-align: left;
  color: #a2a5b5;
  .label {
    margin-left: 10px;
  }
  .text-input {
    font-family: "Metropolis", sans-serif;
    resize: none;
    height: 100px;
    padding: 15px 20px;
    border: none;
    color: var(--heading-clr);
    border-radius: 8px;
    &:focus {
      outline: 1px solid #a9a9a9;
    }
  }
  .textarea-msg {
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #ced0d6;
    font-size: 0.8rem;
    padding-left: 5px;
    margin: 0;
  }
}
