.num-input-container {
  display: grid;
  gap: 5px;
  width: 100%;
  text-align: left;
  color: #a2a5b5;
  .label {
    margin-left: 10px;
  }
  .num-input {
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    color: var(--heading-clr);
    // border: 2px solid #ced0d6;
    // color: #545a6e;
    // border-radius: 8px;
    &:focus {
      outline: 1px solid #a9a9a9;
    }
    &::placeholder {
      font-weight: 500;
      color: #545a6e98;
    }
  }
}
