.allAdmins {
  padding: 10px;
  .cardsAndBtn {
    margin: 10px 0;
    button {
      margin: 0 auto;
    }
    .cardsContainer {
      display: flex;
      margin-bottom: 10px;
      gap: 20px;
      .card {
        border-radius: 5px;
        padding: 10px;
        border: 1px solid var(--fadeGray);
        color: var(--subBrandColor);
      }
    }
  }
  .table {
    width: fit-content;
    border: 2px solid rgba(218, 218, 218, 0.612);
    display: grid;
    grid-template-columns: 1fr;
    .tableHead {
      display: grid;
      padding: 5px;
      width: fit-content;
      border-bottom: 2px solid rgba(218, 218, 218, 0.612);
      grid-template-columns: repeat(6, 1fr);
      .columnTitle {
        font-weight: 600;
        color: var(--subBrandColor);
        // width: fit-content;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
      }
    }

    .tableBody {
      display: grid;
      // overflow-x: scroll;
      width: fit-content;
    }
  }
}

@media (min-width: 1000px) {
  .allAdmins {
    .cardsAndBtn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 25px;
      button {
        margin: 0;
      }
    }
    .table {
      .tableBody {
        width: 100%;
      }
    }
  }
}
