.addAgreementPopup {
  .verticalsSelect {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .label {
    font-weight: 500;
    letter-spacing: 1px;
    color: #a2a5b5;
  }
  .errMsg {
    font-weight: 500;
    color: #fb5607;
    letter-spacing: 2px;
    padding-left: 10px;
    font-size: 0.75rem;
  }
  .loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    .loader {
      border: 2px solid var(--mainBrandColor);
      border-top: 2px solid transparent;
      border-right: 2px solid transparent;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      animation: spinLoader 0.35s linear infinite;
    }
  }
}

@keyframes spinLoader {
  to {
    transform: rotate(360deg);
  }
}
