header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: var(--fadeGray);
  .logo {
    cursor: pointer;
    width: 100px;
    height: fit-content;
  }
}
