* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: var(--textColor);
}

body,
input,
button {
  font-family: "Pathway Extreme", sans-serif;
}

.__pageHeading {
  margin: 20px 0;
}

.__tableContainer {
  overflow-x: scroll;
}
input[type="checkbox"] {
  opacity: 0.5;
}
input[type="checkbox"]:hover {
  cursor: pointer;
  opacity: 1;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  border: 1px solid #edf0f2;
}
td {
  border-bottom: 1px solid var(--fadeGray);
}
/* tr:hover {
  cursor: pointer;
  background-color: var(--fadeGray);
} */

th,
td {
  text-align: left;
  padding: 10px 20px;
  width: max-content;
}
th {
  /* position: sticky; */
  /* top: 0; */
  background: #fff;
  color: var(--subBrandColor);
  border-bottom: 2px solid #edf0f2;
  letter-spacing: 1px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
}

th img {
  width: 20px;
  height: fit-content;
}

td img {
  width: 20px;
  height: fit-content;
  cursor: pointer;
}

.__subColorHeading {
  color: var(--subBrandColor);
}

@media (min-width: 800px) {
  th {
    white-space: pre-wrap;
  }
}
@media (min-width: 1200px) {
  .__tableContainer {
    overflow-x: unset;
  }
}

/* .PhoneInputCountry {
  display: flex;
  flex-direction: row;
}
.PhoneInputCountry img {
  width: 25px;
} */

.PhoneInputInput {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #edf0f2;
  /* &::placeholder {
      color: #959595;
    }
    &:focus {
      outline: 1px solid var(--mainBrandColor);
    } */
}

.PhoneInputCountrySelect {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #edf0f2;
}
.PhoneInputCountrySelect:focus {
  outline: 1px solid var(--mainBrandColor);
}
.PhoneInputInput:focus {
  outline: 1px solid var(--mainBrandColor);
  /* outline: none; */
}
/* .PhoneInput--focus {
  border-radius: 5px;
  outline: 1px solid var(--mainBrandColor);
} */
img {
  object-fit: contain;
}

.__loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.__loader {
  width: 30px;
  aspect-ratio: 1 / 1;
  border: 3px solid #eaeef2;
  border-top: 3px solid var(--mainBrandColor);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
